# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
*.classpath
*.project
*.settings/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.log
logs/

# Variables de entorno — nunca commitear
.env
.env.local
application-prod.yml
